<html>

<head>
    <script type="text/javascript" src="{{ url_for('static', filename = 'base.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>

<body>
    <input type="button" onclick="call_train()" value="Add your typing" />
    <input type="button" onclick="call_test()" value="Classify" />
    <input type="button" onclick="send_data()" value="Send training set" />
    <input id="in_text" style="display:none;" type="text" onkeydown="keyDown(event)" onkeyup="keyUp(event)" />
</body>

</html>